<div id="projects" class="container projectsContainer">
  <div class="">
    <h2><span>Proyectos</span></h2>

    <h6 class="text-center my-5">
      Durante mi trayectoria he desarrollado sistemas web
      <span>en diversos lenguajes de programación</span> tales como:
      <span>PHP</span> JavaScript, Python en conjunto de <br />frameworks de
      desarrollo tales como: <span>Angular,</span> React Native, Laravel, etc...
    </h6>
    .
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4><span>Delyapp - Proyecto de título</span></h4>

      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="200"
        class="card cardSafway"
      >
        <div class="imgBx">
          <div class="safway-box text-center">
            <img id="safariway" src="assets/images/delyapp.png" />
          </div>
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>
            Proyecto de título Ciisa 2021 - Software de compra, venta e
            inventario (aplicado a local de comida rápida), con manipulación en
            los ingredientes, mermas y gastos fijos. Parámetros para un precio
            sugerido, Incluye venta y pago online o presencial más despacho a
            domicilio (delivery) o retiro en local.
          </p>
          <button class="btn action-btn btn-sm" name="button">
            <a href="https://github.com/nicopage88/delyapp" target="_blank">
              Sitio en repositorio
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4><span>API Pokedex</span></h4>

      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="100"
        class="card cardKejua"
      >
        <div class="imgBx text-center">
          <img id="art" src="assets/images/ir.png" />
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>
            Pokédex con React.js y TypeScript Con el fin de demostrar una app en
            React usando Router Dom, Hooks de React como UseState y UseEffect,
            haciendo uso de una API pública: pokeapi.co para hacer fetch con
            React.
          </p>

          <button class="btn action-btn btn-sm" name="button">
            <a
              href="https://pokedex-api-react-v1-15d2b8.netlify.app/"
              target="_blank"
            >
              Sitio en producción
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h4><span>Colegio - SGDLS</span></h4>

      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="150"
        class="card cardMulika"
      >
        <div class="imgBx">
          <img id="art" src="assets/images/sgdls.png" />
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>
            Software del colegio San Gregorio De La Salle lanzado en 2021 que
            reune aspectos de soporte técnico, acceso de inventario de recursos
            tecnológicos, entre otras desarrollados en distintos sabores
            tecnológicos.
          </p>

          <button class="btn action-btn btn-sm" name="button">
            <a href="https://sgdls.cl/" target="_blank">
              Sitio en producción
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="jumbotron jumbotron-fluid text-light bg-dark position-static">
    <div class="container">
      <h1 class="display-4">OTROS PROYECTOS</h1>
      <hr />
      <p class="lead">
        He realizando mis despliegues de apps bajo diferentes métodos de
        infraestructura, Proyectos que he realizado con frameworks y lenguajes
        de programación combinados.
      </p>
      <hr class="my-4" />
      <!-- <div class="alert alert-primary" role="alert">
        <a
          href="https://pokedex-api-react-v1-15d2b8.netlify.app/"
          class="alert-link text-primary"
          >Pokédex con React.js y TypeScript</a
        >
        Con el fin de demostrar una app en React usando Router Dom, Hooks de
        React como UseState y UseEffect, haciendo uso de una API pública:
        pokeapi.co para hacer fetch con React.
      </div> -->
      <div class="alert alert-secondary" role="alert">
        <a
          href="https://apipelis-con-angular-3820dc.netlify.app/"
          class="alert-link text-primary"
          >Mobie BD Api con Angular v.10.</a
        >
        Proyecto para aprobar curso en master JS realizado con Angular como
        framework y la siguiente API pública: themoviedb.org
      </div>
      <!-- <div class="alert alert-success" role="alert">
        <a href="https://nicolabs.cl/tienda/" class="alert-link text-primary"
          >Tienda en WordPress con Ecommerce.</a
        >
        Con el CMS más popular hice mi propia tienda.
      </div> -->
      <div class="alert alert-danger" role="alert">
        <a
          href="https://feriados-chile-216907.netlify.app/"
          class="alert-link text-primary"
          >Próximo feriado en Chile</a
        >. A modo de comodidad realicé un sistema en React con una API interna
        JSON que me muestra el feriado más cercano contando los días faltantes e
        imprimiendo información de fecha, motivo y tipo de feriado.
      </div>
      <!-- <div class="alert alert-warning" role="alert">
        <a href="https://tutoriales.sgdls.cl/" class="alert-link text-primary"
          >Api Youtube con Angular v.9</a
        >. Trabajo para un colegio en el periodo de pandemia, una colección de
        tutoriales en un solo spa con Angular y Youtube.
      </div> -->
      <!--/div>
  <div class="alert alert-info" role="alert">
    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-light" role="alert">
    A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div-->
    </div>
  </div>
</div>
