
<!DOCTYPE html>
<html>
<head>
    <title>Seleccionar Modo</title>
</head>
<body>
    <h2>Selecciona el modo de juego</h2>
    <form method="post">
        <input type="radio" id="modo1" name="modo" value="1" required>
        <label for="modo1">Adivinar el número atómico</label><br>
        <input type="radio" id="modo2" name="modo" value="2">
        <label for="modo2">Adivinar el nombre del elemento</label><br>
        <input type="radio" id="modo3" name="modo" value="3">
        <label for="modo3">Adivinar el símbolo del elemento</label><br><br>
        <button type="submit">Jugar</button>
    </form>
</body>
</html>
